.welcome__img {
  position: relative;
  width: 100%;
  height: 644px;
  background-image: url('assets/images/welcome.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 40px;

  .welcome__img_container {
    position: absolute;
    z-index: 1;

    width: 730px;
    padding: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    gap: 40px;

    h1 {
      color: $color-text-light;
    }

    h1 span.accent {
      color: $color-text-accent;
    }

    p {
      color: $color-text-light;
    }
  }
/*
  @include media-tablet {
    background-image: url('./images/welcome-tablet.jpg');
  }
  @include media-small {
    background-image: url('./images/welcome-tablet.jpg');
  }*/
}