.secret {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(assets/images/secret.jpg);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),url(assets/images/secret.jpg);
  background: -webkit-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(assets/images/secret.jpg);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(assets/images/secret.jpg);
  background: linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(assets/images/secret.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.secret .wrapper .wrapper-content {
  margin: 0 0 40px;
  flex-direction: column;

  & .section_title h2 {
    color: $color-text-accent;

    & span {
      color: $color-text-light;
    }
  }

  .section_line {
    width: 160px;
    height: 3px;
    background-color: $color-border-light;
  }

  p {
    margin: 20px 350px;
    text-indent: 36px;
    text-align: justify;
    color: $color-text-light;
  }
}