header,
section,
footer {
  display: flex;
  justify-content: center;

  @include media-large-screen {
    .wrapper {
      width: $large-screen-wrapper-width;
    }
  }
  /*
  @include media-tablet {
    .wrapper {
      width: $tablet-wrapper-width;
    }
  }
  @include media-mobile {
    .wrapper {
      width: $mobile-wrapper-width;
    }
  }*/
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-large-screen {
    .wrapper-content {
      width: $large-screen-content-width;
    }
  }
  /*
  @include media-tablet {
    .wrapper-content {
      width: $tablet-content-width;
    }
  }
  @include media-mobile {
    .wrapper-content {
      width: $mobile-content-width;
    }
  }*/
}

.wrapper-content {
  display: flex;
  align-items: center;
}