* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden; 
}

body {
  width: 100%;
  overflow-x: hidden; 

  position: relative;
  background-color: $color-background-body;

  &.is_block {
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, .5);
      z-index: 3;
    }
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  @extend %transition;
}

h1 {
  @include fonts('Inter', normal, 600, 72px, 105%);

  & span.accent {
    font-style: italic;
  }
/*
  @include media-mobile {
    @include fonts('Inter', normal, 600, 42px, 115%);
  }*/
}

h2 {
  @include fonts('Inter', normal, 600, 60px, 125%);
  color: $color-text-dark;
  & span.accent {
    font-style: italic;
    color: $color-text-accent;
  }
/*
  @include media-mobile {
    @include fonts('Inter', normal, 600, 32px, 125%);
  }*/
}

h3 {
  @include fonts('Inter', normal, 600, 36px, 125%);
  color: $color-text-accent;
  & span.accent {
    font-style: italic;
    color: $color-text-dark;
  }
}

.medium {
  @include fonts('Inter', normal, 400, 24px, 150%);
}

.caption {
  @include fonts('Inter', normal, 600, 20px, 140%);
}

.link-and-button {
  @include fonts('Inter', normal, 600, 16px, 150%);
}
/*
.burger-link {
  @include fonts('Inter', normal, 600, 32px, 125%);
}
*/